@import 'reset.scss';
// @import 'fonts.scss';
// @import 'icons.scss';

// vars
$main_color: #ff5a00;

.btn{
  &.btn-warning{
    background: $main_color;
    border: 0;
    border-radius: 0;
    &:hover{
      background: darken($main_color, 5%);
    }
  }
}

// header and footer container style
.part-container{
  padding: 0 15px;
  width: 100%;
  @media (min-width: 1280px){
    width: 1280px;
    margin: 0 auto;
  }
}
.general-container{
}

// main wrapper style{
.main-wrapper{
  min-height: 100%;
  &:not(.homepage){
    margin-bottom: -190px;
    padding-bottom: 190px;
    background: #ececec url(../image/bg-grey-pattern.png) top center repeat;
  }
  .navbar-brand{
    img.white-logo{
      display: none;
    }
  }
  &.homepage{
    background: url(../image/bg-pattern.png) top center repeat, url(../image/home-bg.jpg) top center no-repeat;
    background-size: auto, cover;
    min-height: 100%;
    .navbar-brand{
      img.white-logo{
        display: inline-block;
      }
      img.regular-logo{
        display: none;
      }
    }

    .main-content{
      padding: 30px 0;
    }

    .left-txt{
      position: relative;
      @media(min-width: 992px){
        padding-right: 100px;
      }
      i.fas{
        font-size: 22px;
        position: absolute;
        @media(max-width: 768px){
          display: none;
        }
        &.red{
          color: $main_color;
          top: -5px;
          left: -5px;
        }
        &.white{
          color: white;
          bottom: -20px;
          left: -5px;
          @media(min-width: 992px){
            bottom: -15px;
            right: -5px;
          }
        }
      }
    }
    .content{
      position: relative;
      @media(max-width: 992px){
        margin-bottom: 60px;
      }
      @media(min-width: 992px){
        text-align: right;
      }
    }
    
    h2.home-title{
      font-size: 45px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      line-height: 1.2;
      font-family: "Play";
      margin-bottom: 40px;
      @media(min-width: 992px){
        margin-bottom: 60px;
      }
      @media(max-width: 768px){
        margin-bottom: 30px;
        font-size: 34px;
      }
      @media(max-width: 568px){
        font-size: 24px;
      }
      span{
        color: $main_color;
      }
    }
    .btn-warning{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      padding: 9px 42px;
      // @media(max-width: 768px){
      //   width: 100%;
      //   text-align: center;
      // }
    }
    p{
      font-size: 16px;
      color: white;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 0;
    }
    .home-main-img{
      @media(max-width: 768px){
        display: none;
      }
    }
  }
}

// main header style
header.header{
  nav.navbar{
    padding: 1.2rem 0;
  }
  .mob-actions{
    display: none;
    padding-right: 35px;
    order: 2;
    @media(max-width: 992px){
      display: block;
    }
  }
  .navbar-toggler{
    position: relative;
    width: 32px;
    height: 30px;
    padding: 0;
    border: 0;
    border-radius: 0;
    order: 3;
    span{
      position: absolute;
      height: 6px;
      background: #fff;
      width: 23px;
      left: 0;
      top: 12px;
      transition: all .2s ease-in;
      opacity: 1;
      &:first-child{
        width: 32px;
        top: 0;
      }
      &:last-child{
        width: 32px;
        top: auto;
        bottom: 0;
      }
    }
    &[aria-expanded=true]{
      &+.mob-actions{
        display: none;
      }
      span{
        &:not(:first-child):not(:last-child){
          left: -23px;
          opacity: 0;
        }
        &:first-child{
          transform: rotate(45deg);
          top: 12px;
        }
        &:last-child{
          transform: rotate(-45deg);
          bottom: 12px;
        }
      }
    }
  }
  .navbar-collapse{
    align-items: flex-start;
    order: 4;
    @media(max-width: 992px){
      background: #37353a;
      box-shadow: inset -10px 0 10px rgba(0,0,0,.65);
      top: 0;
      height: auto !important;
      display: block !important;
      left: 0;
      transition: auto .3s ease-in-out;
      position: absolute;
      &.collapse:not(.show) {
        left: -100%;
      }
    }
    &.black-style{
      ul.navbar-nav{
        li.nav-item{
          a.nav-link{
            color: #9e95b2;
          }
          &:hover{
            @media(min-width: 992px){
              a.nav-link{
                color: $main_color;
              }
            }
          }
          &.active{
            a.nav-link{
              color: $main_color;
            }
          }
        }
      }
      .lang-select-wrap{
        select{
          color: #9e95b2;
        }
        .fas{
          color: #9e95b2;
        }
      }
      .btn-wrap{
        .btn{
          &.btn-link{
            color: #9e95b2;
          }
        }
      }    
    }
  }
  ul.navbar-nav{
    flex-grow: 1;
    justify-content: space-around;
    li.nav-item{
      a.nav-link{
        color: #422575;
        font-weight: 300;
        transition: all .2s ease-in;
        text-transform: uppercase;
        line-height: 1.4;
        &:hover{
          @media(min-width: 992px){
            color: $main_color;
          }
        }
      }
      &.active{
        a.nav-link{
          color: $main_color;
        }
      }
    }
  }
  .desk-actions{
    @media(max-width: 992px){
      order: 1;
    }
  }
  .lang-list{
    display: none;
    @media(max-width: 992px){
      display: inline-block;
    }
  }
  .lang-select-wrap{
    display: flex;
    align-items: center;
    @media(max-width: 768px){
      display: none;
    }
    select{
      appearance: none;
      background: transparent;
      color: #422575;
      font-weight: 300;
      padding: 0.6rem;
    }
    .fas{
      color: #422575;
    }
  }
}

// sign in/up buttons
.btn-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  .btn{
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    &.btn-warning{
      letter-spacing: 2px;
    }
    &.btn-link{
      color: #422575;
      text-decoration: none;
    }
  }
}
// banner style
.banner-wrap{
  img{
    width: 100%;
    &.desktop-show{
      display: none;
      @media(min-width:768px){
        display: inline-block;
      }
    }
    &.mobile-show{
      display: none;
      @media(max-width:768px){
        display: inline-block;
      }
    }
  }
}
// main content style
.main-content{
  padding: 60px 0;
  .container{
    max-width: 100% !important;
    @media(min-width:992px){
      max-width: 960px !important;
    }
  }
  .content-title{
    font-size: 30px;
    font-family: "Play";
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 25px;
    span{
      color: $main_color;
    }
    &:after{
      position: absolute;
      content: '';
      display: block;
      background: $main_color;
      width: 75px;
      height: 4px;
      bottom: 0;
      left: 0;
    }
  }
  .section{
    &:not(:last-child){
      margin-bottom: 60px;
    }
  }
  ul.adv-list{
    margin-bottom: 0;
    &.with-column-2{
      columns: 2;
      column-gap: 30px;
    }
    li{
      display: flex;
      align-items: center;
      span.count{
        position: relative;
        z-index: 0;
        font-size: 66px;
        color: #422579;
        font-family: "Play";
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.6;
        margin-right: 20px;
        &:after{
          position: absolute;
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: $main_color;
          z-index: -1;
          right: -10px;
          top: 50%;
          margin-top: -15px;
        }
      }
      .list-txt{
        display: flex;
        flex-direction: column;
        span{
          color: #0f0d13;
          &.ttl{
            font-size: 24px;
            font-family: "Play";
            font-weight: bold;
            line-height: 1.2;
          }
          &.sub-text{
            font-size: 16px;
            line-height: 1.3;
          }
        }
      }
    }
  }
  .content{
    p{
      font-size: 16px;
      color: #0f0d13;
      font-weight: 300;
      line-height: 1.6;
    }
  }
  .play-video-link{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lighten($main_color, 10%);
    width: 100%;
    a{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
    }
    ul.plus-list{
      li{
        position: absolute;
        color: lighten($main_color,10%);
        font-size: 18px;
        &:nth-child(1){
          top: 15px;
          left: 15px;
        }
        &:nth-child(2){
          top: 15px;
          right: 15px;
        }
        &:nth-child(3){
          right: 15px;
          bottom: 15px;
        }
        &:nth-child(4){
          bottom: 15px;
          left: 15px;
        }
      }
    }
    i.fa-play{
      font-size: 30px;
      color: $main_color;
      margin-bottom: 15px;
    }
    span.video-txt{
      font-size: 16px;
      color: #474152;
    }
  }
  ul.info-list{
    margin-bottom: 0;
    li{
      font-size: 16px;
      color: #0f0d13;
      font-weight: 300;
      line-height: 1.4;
      position: relative;
      padding-left: 15px;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      &:before{
        position: absolute;
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        background: #9480bd;
        left: 0;
        top: 11px;
      }
    }
  }
  .bottom-wrap{
    padding-top: 30px;
  }
  .package-block-section{
    margin-bottom: 60px;
    .package-list-wrap{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 45px;
      @media(min-width:1230px){
        width: 1225px;
        margin: 0 auto;
      }
      .package-block{
        padding: 0 30px 30px;
        background: #fff;
        width: 22%;
        position: relative;
        border: 1px solid white;
        &.active{
          top: -23px;
          border: 1px solid #9480bd;
          z-index: 0;
          &:after{
            position: absolute;
            content:'';
            display: block;
            top: -7px;
            right: -7px;
            bottom: -7px;
            left: -7px;
            border: 1px solid $main_color;
            z-index: -1;
          }
          .active-ttl{
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 14px;
            color: $main_color;
            line-height: 1.429;
            font-weight: bold;
            bottom: 100%;
            padding: 10px 0;
            letter-spacing: 1px;
          }
        }
        .pack-ttl{
          display: flex;
          align-items: center;
          padding: 10px 0 20px;
          span.char{
            font-size: 65px;
            color: #452a7c;
            position: relative;
            padding-right: 35px;
            display: inline-block;
            z-index: 0;
            font-family: "Play";
            font-weight: bold;
            &:after{
              position: absolute;
              content: '';
              display: block;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background: $main_color;
              z-index: -1;
              top: 50%;
              margin-top: -15px;
              left: 28px;
            }
          }
          .ttl{
            font-size: 30px;
            color: #0f0d13;
            font-family: "Play";
            font-weight: bold;
            position: relative;
            padding: 10px 0;
            flex-grow: 1;
            &:after{
              position: absolute;
              content: '';
              display: block;
              height: 4px;
              background: $main_color;
              bottom: 0;
              left: 0;
            }
            &.line-45{
              &:after{
                width: 45%;
              }
            }
            &.line-60{
              &:after{
                width: 57%;
              }
            }
            &.line-75{
              &:after{
                width: 75%;
              }
            }
            &.line-90{
              &:after{
                width: 95%;
              }
            }
          }
        }
        .pack-row{
          display: flex;
          border-top: 4px dashed #ccc;
          align-items: center;
          padding: 10px 0;
        }
        .pack-foot{
          .btn{
            width: 100%;
            text-transform: uppercase;
            line-height: 1.5;
            font-size: 12px;
            letter-spacing: 2px;
            padding: 14px;
          }
        }
        .left{
          min-width: 55%;
          font-size: 16px;
          color: #474152;
          padding-right: 15px;
          line-height: 1.3;
        }
        .right{
          min-width: 45%;
          white-space: nowrap;
          h4.txt{
            font-style: 24px;
            color: #452a7c;
            font-family: "Play";
            font-weight: bold;
            margin: 0;
            text-align: center;
            &.violet{
              span{
                font-size: 15px;
              }
            }
          }
          h3.txt{
            font-size: 61px;
            color: #8eb34f;
            font-family: "Play";
            font-weight: bold;
            margin: 0;
            line-height: 40px;
            text-align: center;
            &.green{
              span{
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}

// language list
ul.lang-list{
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  li{
    a{
      color: rgba(white,.5);
      font-size: 14px;
      padding:10px;
      display: inline-block;
      text-decoration: none;
      transition: all .2s ease-in-out;
    }
    &:hover{
      a{
        @media(min-width: 992px){
          color: white;
        }
      }
    }
    &.active{
      a{
        color: white;
      }
    }
  }
}

// footer style
footer.footer{
  background: #37353a;
  padding: 25px 0 13px;
  ul.navbar-nav{
    li.nav-item{
      a.nav-link{
        color: white;
        transition: all .2s ease-in-out;
        line-height: 1.3;
      }
      &:hover,
      &.active{
        a.nav-link{
          color: $main_color;
        }
      }
    }
  }
  // ul.foot-lang{
  //   margin-bottom: 0;
  //   li{
  //     a{
  //       color: rgba(white,.5);
  //       font-size: 14px;
  //       padding:10px;
  //       display: inline-block;
  //       text-decoration: none;
  //       transition: all .2s ease-in-out;
  //       &:hover,
  //       &.active{
  //         color: white;
  //       }
  //     }
  //   }
  // }
  .btn-wrap{
    .btn{
      &.btn-link{
        color: white;
      }
    }
  }
  p{
    margin-bottom: 0;
    &.copyright{}
    &.made-by{
      
    }
  }
}