@import 'reset.scss';
// @import 'fonts.scss';
// @import 'icons.scss';

// vars
$main_color: #ff5a00;

.btn{
  &.btn-warning{
    background: $main_color;
    border: 0;
    border-radius: 0;
    &:hover{
      background: darken($main_color, 5%);
    }
  }
}

body.backdroped{
  overflow: hidden;
}

// header and footer container style
.part-container{
  padding: 0 15px;
  width: 100%;
  @media (min-width: 1280px){
    width: 1280px;
    margin: 0 auto;
  }
}
.general-container{
}

// main wrapper style{
.main-wrapper{
  min-height: 100%;
  &:not(.homepage):not(.log-block){
    margin-bottom: -190px;
    padding-bottom: 190px;
    // background: #ececec url(../image/bg-grey-pattern.png) top center repeat;
    .main-content{
      .container{
        max-width: 992px !important;
        @media(max-width:992px){
          max-width: 730px !important;
        }
      }
    }
  }
  &.log-block{
    background: #ececec;
  }
  .navbar-brand{
    margin-right: 3%;
    img.white-logo{
      display: none;
    }
  }
  &.homepage{
    background: url(../image/home-bg.jpg) top center no-repeat;
    // background: url(../image/bg-pattern.png) top center repeat, url(../image/home-bg.jpg) top center no-repeat;
    background-size: cover;
    min-height: 100%;
    .navbar-brand{
      img.white-logo{
        display: inline-block;
      }
      img.regular-logo{
        display: none;
      }
    }

    .main-content{
      padding: 30px 0;
      .container{
        max-width: 1030px !important;
        @media(max-width:992px){
          max-width: 495px !important;
        }
      }
    }

    .left-txt{
      position: relative;
      @media(min-width: 992px){
        padding-right: 45px;
      }
      i.fas{
        font-size: 22px;
        position: absolute;
        @media(max-width: 768px){
          display: none;
        }
        &.red{
          color: $main_color;
          top: -5px;
          left: -5px;
        }
        &.white{
          color: white;
          bottom: -20px;
          left: -5px;
          @media(min-width: 992px){
            bottom: -15px;
            right: -5px;
          }
        }
      }
    }
    .content{
      position: relative;
      @media(max-width: 992px){
        margin-bottom: 60px;
      }
      @media(min-width: 992px){
        text-align: right;
      }
    }
    
    h2.home-title{
      font-size: 45px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      line-height: 1.2;
      font-family: "Play";
      margin-bottom: 40px;
      @media(min-width: 992px){
        margin-bottom: 60px;
      }
      @media(max-width: 768px){
        margin-bottom: 30px;
        font-size: 34px;
      }
      @media(max-width: 576px){
        margin-bottom: 10px;
        font-size: 24px;
      }
      span{
        color: $main_color;
      }
    }
    .btn-warning{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      padding: 9px 42px;
      @media(max-width: 576px){
        width: 100%;
      }
    }
    p{
      font-size: 16px;
      color: white;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 0;
    }
    .home-main-img{
      text-align: right;
      @media (min-width: 768px) and (max-width: 992px){
        margin-top: -80px;
      }
      @media(max-width: 768px){
        // display: none;
        padding-top: 30px;
        text-align: center;
      }
      >img{
        @media(max-width: 992px){
          width: 254px;
        }
      }
    }
  }
}

// main header style
header.header{
  position: relative;
  z-index: 90;
  nav.navbar{
    padding: 1.2rem 0;
  }
  .mob-actions{
    display: none;
    padding-right: 35px;
    order: 2;
    @media(max-width: 992px){
      display: block;
      opacity: 1;
      transition: all .3s ease .4s;
    }
    .btn{
      width: 115px;
      padding: 10px;
      line-height: 1;
    }
  }
  .navbar-toggler{
    position: relative;
    z-index: 120;
    width: 32px;
    height: 30px;
    padding: 0;
    border: 0;
    border-radius: 0;
    order: 3;
    span{
      position: absolute;
      height: 6px;
      background: $main_color;
      width: 23px;
      left: 0;
      top: 12px;
      transition: all .2s ease-in;
      opacity: 1;
      &:first-child{
        background: #422579;
        width: 32px;
        top: 0;
      }
      &:last-child{
        background: #422579;
        width: 32px;
        top: auto;
        bottom: 0;
      }
    }
    &.white{
      span{
        background: #fff;
        &:first-child,
        &:last-child{
          background: #fff;
        }
      }
    }
    &[aria-expanded=true]{
      &+.mob-actions{
        opacity: 0;
        transition: all .2s ease;
      }
      span{
        &:not(:first-child):not(:last-child){
          left: -23px;
          opacity: 0;
        }
        &:first-child{
          transform: rotate(45deg);
          top: 12px;
        }
        &:last-child{
          transform: rotate(-45deg);
          bottom: 12px;
        }
      }
    }
  }
  &.collapsed{
    position: relative;
    a.navbar-brand{
      position: relative;
      z-index: 500;
      left: 10px;
      transition: all .3s ease-in-out .2s;
      img{
        &.white-logo{
          display: inline-block !important;
        }
        &.regular-logo{
          display: none !important;
        }
      }
    }
    .navbar-toggler{
      span{
        background: #fff;
        &:first-child,
        &:last-child{
          background: #fff;
        }
      }
    }
    &:after{
      position: fixed;
      content: '';
      display: block;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      background: rgba(black, .5);
      z-index: 100;
    }
  }
  .navbar-collapse{
    align-items: flex-start;
    order: 4;
    position: relative;
    z-index: 120;
    @media(max-width: 992px){
      background: #37353a;
      box-shadow: inset -10px 0 10px rgba(0,0,0,.65);
      top: 0;
      display: flex !important;
      flex-direction: column;
      left: -15px;
      transition: all .3s ease-in-out;
      position: absolute;
      width: 440px;
      height: 100vh;
      padding: 25px 30px;
      &.collapse:not(.show) {
        left: -455px;
      }
    }
    @media(max-width: 576px){
      width: 260px;
      &.collapse:not(.show) {
        left: -275px;
      }
    }
    &.black-style{
      ul.navbar-nav{
        li.nav-item{
          a.nav-link{
            color: #9e95b2;
          }
          &:hover{
            @media(min-width: 992px){
              a.nav-link{
                color: $main_color;
              }
            }
          }
          &.active{
            a.nav-link{
              color: $main_color;
            }
          }
        }
      }
      .lang-select-wrap{
        select{
          color: #9e95b2;
        }
        .fas{
          color: #9e95b2;
        }
      }
      .btn-wrap{
        .btn{
          &.btn-link{
            color: #9e95b2;
          }
        }
      }    
    }
    .desk-actions{
      .btn{
        padding: 9px;
      }
    }
  }
  ul.navbar-nav{
    @media(min-width: 992px){
      flex-grow: 1;
      justify-content: space-around;
    }
    @media(max-width: 992px){
      order: 2;
      padding-top: 80px;
    }
    @media(max-width: 576px){
      padding-top: 40px;
    }
    li.nav-item{
      @media(max-width: 992px){
        margin-bottom: 20px;
      }
      a.nav-link{
        color: #422575;
        font-weight: 300;
        transition: all .2s ease-in;
        text-transform: uppercase;
        line-height: 1.4;
        @media(max-width: 992px){
          color: white;
          font-size: 14px;
          >br{
            display: none;
          }
        }
        &:hover{
          @media(min-width: 992px){
            color: $main_color;
          }
        }
      }
      &.active{
        a.nav-link{
          color: $main_color;
        }
      }
    }
  }
  .btn-wrap:not(.mob-actions){
    @media(min-width: 576px) and (max-width: 992px){
      flex-direction: row;
      // margin-left: auto;
      padding-top: 4px;
    }
    .btn{
      @media(min-width:576px) and (max-width: 992px){
        width: 115px;
      }
      &:last-child{
        @media(min-width: 576px) and (max-width: 992px){
          margin-left: 10px;
        }
      }
    }
  }
  .desk-actions{
    @media(max-width: 992px){
      order: 1;
    }
  }
  ul.lang-list{
    display: none;
    @media(max-width: 992px){
      display: flex;
      li{
        a{
          padding: 30px;
        }
        &:first-child a{
          padding-left: 0;
        }
        &:last-child a{
          padding-right: 0;
        }
      }
    }
  }
  .lang-select-wrap{
    display: flex;
    align-items: center;
    @media(max-width: 992px){
      display: none;
    }
    select{
      appearance: none;
      background: transparent;
      color: #422575;
      font-weight: 300;
      padding: 0.6rem;
    }
    .fas{
      color: #422575;
    }
  }
}

// sign in/up buttons
.btn-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media(min-width: 992px){
    padding-left: 15px;
  }
  .btn{
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    &.btn-warning{
      letter-spacing: 2px;
    }
    &.btn-link{
      color: #422575;
      text-decoration: none;
      @media(max-width: 992px){
        color: white;
      }
    }
  }
}
// banner style
.banner-wrap{
  img{
    width: 100%;
    &.desktop-show{
      display: none;
      @media(min-width:768px){
        display: inline-block;
      }
    }
    &.mobile-show{
      display: none;
      @media(max-width:768px){
        display: inline-block;
      }
    }
  }
}
// main content style
.main-content{
  padding: 60px 0;
  @media(max-width: 576px){
    padding: 30px 0;
  }
  .container{
    max-width: 100% !important;
    @media(min-width:992px){
      max-width: 960px !important;
    }
  }
  .home-main-img{
    text-align: center;
    @media(min-width:768px){
      text-align: right;
    }
    @media(max-width:768px){
      margin-bottom: 30px;
    }
    >img{
      max-width: 100%;
      @media(max-width:992px){
        width: 230px;
      }
      @media(max-width:768px){
        width: 190px;
      }
    }
  }
  .content-title{
    font-size: 30px;
    font-family: "Play";
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 25px;
    @media(max-width: 576px){
      font-size: 24px;
    }
    span{
      color: $main_color;
    }
    &:after{
      position: absolute;
      content: '';
      display: block;
      background: $main_color;
      width: 75px;
      height: 4px;
      bottom: 0;
      left: 0;
    }
  }
  h2.main-title{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 35px;
    line-height: 1;
    b{
      color: #42267a;
      font-size: 45px;
      font-family: "Play";
      text-transform: uppercase;
      line-height: 1.4;
      @media(max-width: 768px){
        font-size: 24px;
      }
    }
    span.red{
      color: $main_color;
    }
    span.small-txt{
      font-size: 20px;
      color: #0f0d13;
      font-family: "play";
      font-weight: bold;
      line-height: 1.1;
      @media(max-width: 768px){
        font-size: 16px;
      }
    }
    &:after{
      position: absolute;
      content: '';
      display: block;
      background: $main_color;
      width: 75px;
      height: 4px;
      bottom: 0;
      left: 0;
    }
  }
  .section{
    &:not(:last-child){
      margin-bottom: 60px;
    }
  }
  ul.adv-list{
    margin-bottom: 60px;
    // @media(max-width: 992px){
    // }
    @media(max-width: 767px){
      display: inline-block;
      margin-bottom: 30px;
    }
    &.with-column-2{
      @media(min-width: 768px){
        columns: 2;
        column-gap: 30px;
      }
    }
    li{
      display: flex;
      align-items: center;
      text-align: left;
      span.count{
        position: relative;
        z-index: 0;
        font-size: 66px;
        color: #422579;
        font-family: "Play";
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.6;
        margin-right: 20px;
        &:after{
          position: absolute;
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: $main_color;
          z-index: -1;
          right: -10px;
          top: 50%;
          margin-top: -15px;
        }
      }
      .list-txt{
        display: flex;
        flex-direction: column;
        span{
          color: #0f0d13;
          &.ttl{
            font-size: 24px;
            font-family: "Play";
            font-weight: bold;
            line-height: 1.2;
            @media(max-width:576px){
              font-size: 18px;
            }
          }
          &.sub-text{
            font-size: 16px;
            line-height: 1.3;
            @media(max-width:576px){
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .content{
    p{
      font-size: 16px;
      color: #0f0d13;
      font-weight: 300;
      line-height: 1.6;
      @media(max-width: 576px){
        font-size: 14px;
      }
    }
    &.white{
      p{
        color: white;
      }
    }
    a{
      font-weight: bold;
      font-size: 18px;
      @media(max-width: 576px){
        font-size: 16px;
      }
    }
    h4.contact-ttl{
      font-weight: bold;
      font-size: 18px;
      color: #0f0d13;
    }
  }
  .play-video-link{
    position: relative;
    border: 1px solid lighten($main_color, 10%);
    width: 100%;
    padding-bottom: 50%;
    @media(max-width: 768px){
      margin-bottom: 30px;
    }
    a{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
    }
    ul.plus-list{
      li{
        position: absolute;
        color: lighten($main_color,10%);
        font-size: 18px;
        &:nth-child(1){
          top: 15px;
          left: 15px;
        }
        &:nth-child(2){
          top: 15px;
          right: 15px;
        }
        &:nth-child(3){
          right: 15px;
          bottom: 15px;
        }
        &:nth-child(4){
          bottom: 15px;
          left: 15px;
        }
      }
    }
    .center-txt{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i.fa-play{
        font-size: 30px;
        color: $main_color;
        margin-bottom: 15px;
      }
      span.video-txt{
        font-size: 16px;
        color: #474152;
      }
    }
  }
  ul.info-list{
    margin-bottom: 0;
    li{
      font-size: 16px;
      color: #0f0d13;
      font-weight: 300;
      line-height: 1.4;
      position: relative;
      padding-left: 15px;
      @media(max-width: 576px){
        font-size: 14px;
      }
      &:not(:last-child){
        margin-bottom: 20px;
      }
      &:before{
        position: absolute;
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        background: #9480bd;
        left: 0;
        top: 11px;
      }
    }
  }
  .bottom-wrap{
    @media(min-width:768px){
      padding-top: 30px;
    }
  }
  .package-block-section{
    @media(min-width:992px){
      margin-bottom: 60px;
    }
    .package-list-wrap{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 45px 15px 0;
      @media(max-width:1170px){
        flex-wrap: wrap;
      }
      @media(max-width:768px){
        padding: 0;
      }
      .package-block-wrap{
        padding: 2%;
        width: 25%;
        max-width: 320px;
        @media(max-width: 1170px){
          width: 50%;
        }
        @media(max-width: 576px){
          width: 100%;
          padding: 15px;
        }
      }
      .package-block{
        padding: 0 30px 30px;
        background: #fff;
        position: relative;
        border: 1px solid white;
        @media(max-width: 576px){
          padding: 0 20px 20px;
        }
        &.active{
          border: 1px solid #9480bd;
          z-index: 0;
          @media(min-width: 768px){
            top: -23px;
          }
          &:after{
            position: absolute;
            content:'';
            display: block;
            top: -7px;
            right: -7px;
            bottom: -7px;
            left: -7px;
            border: 1px solid $main_color;
            z-index: -1;
          }
          .active-ttl{
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 14px;
            color: $main_color;
            line-height: 1.429;
            font-weight: bold;
            bottom: 100%;
            padding: 10px 0;
            letter-spacing: 1px;
            @media(max-width: 768px){
              display: none;
            }
          }
        }
        .pack-ttl{
          display: flex;
          align-items: center;
          padding: 10px 0 20px;
          span.char{
            font-size: 65px;
            color: #452a7c;
            position: relative;
            padding-right: 35px;
            display: inline-block;
            z-index: 0;
            font-family: "Play";
            font-weight: bold;
            &:after{
              position: absolute;
              content: '';
              display: block;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background: $main_color;
              z-index: -1;
              top: 50%;
              margin-top: -15px;
              left: 28px;
            }
          }
          .ttl{
            font-size: 30px;
            color: #0f0d13;
            font-family: "Play";
            font-weight: bold;
            position: relative;
            padding: 10px 0;
            flex-grow: 1;
            &:after{
              position: absolute;
              content: '';
              display: block;
              height: 4px;
              background: $main_color;
              bottom: 0;
              left: 0;
            }
            &.line-45{
              &:after{
                width: 45%;
              }
            }
            &.line-60{
              &:after{
                width: 57%;
              }
            }
            &.line-75{
              &:after{
                width: 75%;
              }
            }
            &.line-90{
              &:after{
                width: 95%;
              }
            }
          }
        }
        .pack-row{
          display: flex;
          border-top: 4px dashed #ccc;
          align-items: center;
          padding: 10px 0;
        }
        .pack-foot{
          .btn{
            width: 100%;
            text-transform: uppercase;
            line-height: 1.5;
            font-size: 12px;
            letter-spacing: 2px;
            padding: 14px;
          }
        }
        .left{
          min-width: 55%;
          font-size: 16px;
          color: #474152;
          padding-right: 15px;
          line-height: 1.3;
          @media (max-width: 576px) {
            font-size: 14px;
          }
        }
        .right{
          min-width: 45%;
          white-space: nowrap;
          h4.txt{
            font-size: 24px;
            color: #452a7c;
            font-family: "Play";
            font-weight: bold;
            margin: 0;
            text-align: center;
            &.violet{
              span{
                font-size: 15px;
              }
            }
          }
          h3.txt{
            font-size: 61px;
            color: #8eb34f;
            font-family: "Play";
            font-weight: bold;
            margin: 0;
            line-height: 40px;
            text-align: center;
            &.green{
              span{
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}

// language list
ul.lang-list{
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  li{
    a{
      color: rgba(white,.5);
      font-size: 14px;
      padding:10px;
      display: inline-block;
      text-decoration: none;
      transition: all .2s ease-in-out;
    }
    &:hover{
      @media(min-width:992px){
        a{
          @media(min-width: 992px){
            color: white;
          }
        }
      }
    }
    &.active{
      a{
        color: white;
      }
    }
  }
}

// footer style
footer.footer{
  background: #37353a;
  padding: 25px 0 13px;
  .foot-row{
    &:not(:last-child){
      margin-bottom: 15px;
    }
  }
  ul.navbar-nav{
    padding: 0 15px;
    li.nav-item{
      a.nav-link{
        color: white;
        transition: all .2s ease-in-out;
        line-height: 1.3;
      }
      &:hover,
      &.active{
        a.nav-link{
          color: $main_color;
        }
      }
    }
  }
  ul.foot-lang{
    justify-content: space-between;
    @media(max-width: 576px){
      padding-top: 20px;
    }
    li{
      @media(max-width: 768px){
        &:first-child{
          a{
            padding-left:0;
          }
        }
        &:last-child{
          a{
            padding-right:0;
          }
        }
      }
    }
  }
  .foot-lang-action-wrap{
    display: flex;
    padding: 0 15px 0 0;
    align-self: flex-start;
    @media(min-width: 992px){
      margin-left: auto;
    }
    @media(max-width: 992px){
      flex-direction: column-reverse;
    }
    @media(max-width: 576px){
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }
  }
  .btn-wrap{
    display: none;
    @media(max-width: 768px){
      padding-left: 0;
      margin-bottom: 15px;
    }
    &.mobile-show{
      @media(max-width: 576px){
        display: block;
      }
    }
    &.mobile-hide{
      @media(min-width: 576px){
        display: block;
      }
    }

    .btn{
      &.btn-link{
        color: white;
        padding: 10px 0;
      }
    }
  }
  p{
    margin-bottom: 0;
    line-height: 1.3;
    &.copyright{}
    &.made-by{}
  }
}

// registration style
.access-block{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .registration-block{
    width: 430px;
    background: #fff;
    @media(max-width: 576px){
      width: 300px;
    }
    .block-content{
      flex-direction: column;
    }
  }
  .logIn-block{
    width: 640px;
    background: #fff;
    max-width: 100%;
    @media(max-width: 576px){
      width: 300px;
    }
    .block-content{
      flex-direction: column;
      @media(min-width: 576px){
        flex-direction: row;
      }
    }
  }
  .block-content{
    border: 0;
    border-radius: 0;
    display: flex;
    .block-header{
      border-bottom: 0;
      padding: 30px 85px;
      position: relative;
      @media(max-width: 576px){
        padding: 15px 25px;
      }
      h5.block-title{
        font-family: "Play";
        font-size: 24px;
        color: #0f0d13;
        margin: 0 auto;
        text-align: center;
      }
    }
    .block-body{
      padding: 10px 85px 0;
      @media(max-width: 576px){
        padding: 0 25px;
      }
      .block-form{
        .form-group{
          margin-bottom: 5px;
          position: relative;
          padding-left: 25px;
          height: 40px;
          padding-top: 14px;
          i[class^=fa]{
            position: absolute;
            color: #d6d6d6;
            font-size: 16px;
            left: 0;
            bottom: 10px;
            // line-height: 39px;
          }
          label:not(.form-check-label){
            margin-bottom: 0;
            // color: $main_color;
            position: absolute;
            font-size: 14px;
            color: #0f0d13;
            left: 25px;
            top: 16px;
            z-index: 1;
            transition: all .2s ease;
          }
          input.form-control{
            border-radius: 0;
            border-width: 0 0 1px 0;
            border-bottom-color: #422579;
            padding: 0;
            height: auto;
            background: transparent;
            position: relative;
            z-index: 5;
            &:focus{
              border-bottom-color: $main_color;
              outline: none;
              box-shadow: 0 0 0 transparent;
              + label:not(.form-check-label){
                top: 0;
                color: $main_color;
              }
            }
          }
          &.form-check{
            display: flex;
            align-items: center;
            padding-left: 0;
            margin-bottom: 10px;
            input.form-check-input{
              display: none;
              &:checked{
                 ~ .check-switcher{
                  &:after{
                    left: 23px;
                  }
                 }
                 ~ label.last{
                  color: $main_color;
                }
              }
              &:not(:checked){
                 ~ label.first{
                  color: $main_color;
                }
              }
            }
            .check-switcher{
              width: 42px;
              min-width: 42px;
              height: 22px;
              border-radius: 23px;
              background: #d6d6d6;
              position: relative;
              cursor: pointer;
              &:after{
                position: absolute;
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $main_color;
                top: 3px;
                left: 3px;
                transition: left .3s ease-in-out;
              }
            }
            label.form-check-label:not(.check-switcher){
              font-size: 16px;
              font-weight: 300;
              color: #0f0d13;
              padding: 0 20px;
              transition: color .3s ease .2s;
            }
          }
        }
      }
    }
    .block-footer{
      padding: 50px 85px;
      border-top: 0;
      @media(max-width: 576px){
        padding: 30px 25px 25px;
      }
      .btn{
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        color: #443527;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 2px;
        height: 32px;
      }
    }
    .block-content-inner{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media(min-width: 576px){
        min-width: 50%;
      }
      .block-header{
        padding: 25px 20px 25px 40px;
        @media(max-width: 576px){
          padding: 15px 25px;
        }
      }
      .block-body{
        padding: 10px 20px 0 40px;
        @media(max-width: 576px){
          padding: 0 25px;
        }
      }
      .block-footer{
        padding: 50px 20px 50px 40px;
        @media(max-width: 576px){
          padding: 30px 25px 25px;
        }
      }
      &.right-side{
        background: #422579;
        .block-header{
          @media(min-width: 576px){
            padding: 25px 40px 25px 20px;
          }
          h5.block-title{
            color: white;
          }
        }
        .block-body{
          @media(min-width: 576px){
            padding: 10px 40px 0 20px;
          }
          p{
            color: white;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.429;
          }
        }
        .block-footer{
          @media(min-width: 576px){
            padding: 50px 40px 50px 20px;
          }
          .btn-white{
            background: #fff;
            color: #422579;
            border-radius: 0;
          }
        }
      }
    }
  }
}